# Environment (development | production)
NODE_ENV=development
PORT=3000

# Database Configuration
# Dev (Docker): postgres://user:password@db:5432/finance_db
# Cloud (Example): postgres://admin:SECURE_CLOUD_PASSWORD@db.cloudprovider.com:5432/finance_prod
DATABASE_URL=postgres://user:password@localhost:5432/finance_db


# Security
JWT_SECRET=your_super_secret_jwt_key_2026

# Admin Initialization (Optional)
ADMIN_EMAIL=admin@finance.local
ADMIN_PASSWORD=change_me_in_2026
